@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-family-montserrat: "Montserrat", sans-serif;
  --font-family-inter: "Inter", sans-serif;
  --font-family-sans: "Montserrat", sans-serif;
  --color-primary: #de3b38;
  --color-primary-hover: #d33734;
  --color-primary-pressed: #cb3532;
  --color-white: #ffffff;
  --color-disabled: #ececec;
  --color-disabled-inner: #cecece;
  --color-black: #232222;
  --color-input-border: #8c8c8c;
  --color-input-hover: #fbf9f9;
  --color-background: #f8f8f8;
  --color-gray: #868f95;
}

input:-webkit-autofill {
  background-clip: padding-box;
  transition: background-color 5000s ease-in-out 0s;
}

.input-field::-ms-reveal,
.input-field::-ms-clear {
  display: none;
}

.input-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
