@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));



body {
  font-family: "Montserrat", sans-serif;
}

@theme inline {
  --color-primary: #de3b38;
  --color-primary-hover: #d33734;
  --color-primary-pressed: #cb3532;
  --color-white: #ffffff;
  --color-disabled: #ececec;
  --color-disabled-inner: #cecece;
  --color-black: #232222;
  --color-input-border: #8c8c8c;
  --color-input-hover: #fbf9f9;
}
